body,
html {
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #f0f0ee;
  margin: 0px;
  padding: 0;
}

.margin-top-20 { margin-top: 20%; }
.width-75 { width: 75%; }

h1 {
  font-size: 32px;
  color: white;
  position: relative;
  display: block;
  top: 40%;
  margin: 0 auto;
  padding: 0 10% 2%;
  text-align: left;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  color: white;
  position: relative;
  display: block;
  top: 40%;
  margin: 0 auto;
  padding: 0 10%;
  text-align: left;
}

img {
  margin-left: 10%;
}

#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.panel {
  height: 100%;
  width: 100%;
  position: absolute;
}

.dark-bg-container {
  padding: 40px 0;
  background-color: black;
  opacity: .7;
}

#pinMaster {
  position: relative;
}

.one {
  background-color: #1bb1a5;
  /* background-image: url("images/davidcarson.jpg");
  background-repeat: no-repeat;
  background-size: contain; */
}
.two {
  background-color: #94c356;
}
.three {
  background-color: #e3aa59;
}
.four {
  background-color: #777;
}
.five {
  background-color: #a63ba0;
}
.six {
  background-color: #cf5b21;
}
